<h1> A Propos de nous</h1>
<p>
<a href "http://rubyonrails.org/">Ruby on Rails Tutorial</a>
est un projet de livre et de screecats pour apprendre le developpement web avec <a href="http://rubyonrails.org/">Ruby on Rails</a>
. C'est l'application exemple de ce tutoriel
</p>
