<h1>Sample App</h1>
<p>
C'est la page d'accueil de l'application Exemple du 
<a href="http://rubyonrails.org/">Tutoriel Ruby on Rails</a>
</p
<%= link_to "S'inscrire&nbsp;!", '#', :class => "signup_button round" %>
